.card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.plan-to-watch {
    background-color: #ff6384;
    color: white;
}

.watching {
    background-color: #ffcd56;
    color: white;
}

.completed {
    background-color: #3399cc;
    color: white;
}